Repository kenellorando/cadence, pull requests merged in 2023-02, with the labels that each got.

#213 5.0.7
  .prettierrc
  cadence/server/public/css/main.css
  cadence/server/public/css/modules/requestButtonDisabled.css
  cadence/server/public/css/modules/requestButtonEnabled.css
  cadence/server/public/index.html
  cadence/server/public/js/aria.js
  cadence/server/public/js/page.js
Labels: stack: frontend, status: work-in-progress, domain: cadence

#222 Add gitattributes to enforce LF endings
  .gitattributes
Labels: domain: all

#216 Cadence 5.1
  README.md
  cadence/Dockerfile
  cadence/config/cadence.env
  cadence/server/api.go
  cadence/server/api_actions.go
  cadence/server/database.go
  cadence/server/go.mod
  cadence/server/go.sum
  cadence/server/main.go
  cadence/server/public/css/main.css
  cadence/server/public/index.html
  cadence/server/public/js/aria.js
  cadence/server/public/js/page.js
  cadence/server/public/static/blank.jpg
  cadence/server/routes.go
  cadence_icecast2/Dockerfile
  cadence_liquidsoap/Dockerfile
Labels: type: enhancement, domain: cadence-ui, domain: cadence-api

#232 Postgres/Redis Overhaul
  README.md
  cadence/Dockerfile
  cadence/Dockerfile.multiarch
  cadence/config/cadence.env
  cadence/server/api.go
  cadence/server/api_actions.go
  cadence/server/database.go
  cadence/server/db_postgres.go
  cadence/server/db_redis.go
  cadence/server/go.mod
  cadence/server/go.sum
  cadence/server/main.go
  cadence/server/routes.go
  docker-compose.yml
Labels: domain: cadence-api, domain: cadence-db

#233 Cadence Stack Reverse Proxy
  Makefile
  README.md
  cadence/server/Dockerfile
  cadence/server/Dockerfile.multiarch
  cadence/server/db_postgres.go
  cadence/server/main.go
  cadence/stream/Dockerfile.icecast2
  cadence/stream/Dockerfile.liquidsoap
  config/cadence.env
  config/icecast.xml
  config/liquidsoap.liq
  config/nginx.conf
  docker-compose.yml
Labels: domain: cadence-icecast2, domain: cadence-liquidsoap, domain: all, domain: cadence-api

#235 Cadence Stack Reverse Proxy (Redo)
  Makefile
  README.md
  cadence/server/api_actions.go
  cadence/server/db_postgres.go
  cadence/server/db_redis.go
  cadence/server/main.go
  cadence/server/public/js/aria.js
  config/cadence.env
  config/icecast.xml
  config/liquidsoap.liq
  config/nginx.conf
  docker-compose.yml
  stream/Dockerfile.icecast2
  stream/Dockerfile.liquidsoap
Labels: domain: cadence-icecast2, domain: cadence-liquidsoap, domain: cadence-api
